*.[ao]
*.a
*.desktop
*.idb
*.l[ao]
*.lnk
*.pc
*.pdb
*.so
*.url
*.user
*.user.*
.deps
.gradle
.libs
.vs
/WebP.framework
/aclocal.m4
/ar-lib
/autom4te.cache
/build
/compile
/config.*
/configure
/depcomp
/dist
/doc/output
/install-sh
/iosbuild
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/output
/stamp-h1
CMakeCache.txt
CMakeFiles/
Debug
GeneratedFiles
Makefile
Makefile.in
Release
Win32
_*
build*
cmake_install.cmake
examples/[cdv]webp
examples/anim_diff
examples/anim_dump
examples/gif2webp
examples/img2webp
examples/webpinfo
examples/webpmux
extras/get_disto
extras/vwebp_sdl
extras/webp_quality
src/webp/config.h*
src/webp/stamp-h1
x64
